 .u-section-1 {
  background-image: url("images/cryptocurrency-infographic-10-steps-bubble-design-blockchain-fintech-industry-mining-cryptography-simple-icons_159242-3837.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 813px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }
} .u-section-2 {
  min-height: 13559px;
}

.u-section-2 .u-tabs-1 {
  min-height: 13547px;
  height: auto;
  margin-top: 0;
  margin-bottom: 12px;
}

.u-section-2 .u-tab-link-1 {
  background-image: none;
}

.u-section-2 .u-tab-item-2 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-2 {
  background-image: none;
}

.u-section-2 .u-tab-item-3 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-3 {
  background-image: none;
}

.u-section-2 .u-tab-link-4 {
  background-image: none;
}

.u-section-2 .u-tab-link-5 {
  background-image: none;
}

.u-section-2 .u-tab-link-6 {
  background-image: none;
}

.u-section-2 .u-tab-link-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 6px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  position: absolute;
  top: 2938px;
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  position: absolute;
  top: 2938px;
  height: 3px;
  margin-left: 83px;
  margin-right: 83px;
}

.u-section-2 .u-line-3 {
  transform-origin: left center 0px;
  position: absolute;
  top: 4397px;
}

.u-section-2 .u-line-4 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px auto 0;
}

.u-section-2 .u-line-5 {
  margin-top: 33px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-2 {
  text-decoration: underline !important;
  margin: 30px auto 0;
}

.u-section-2 .u-group-1 {
  width: 1344px;
  min-height: 180px;
  height: auto;
  margin: 52px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-group-2 {
  width: 1344px;
  min-height: 156px;
  height: auto;
  margin: 52px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-group-3 {
  width: 1344px;
  min-height: 156px;
  height: auto;
  margin: 54px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-line-6 {
  transform-origin: left center 0px;
  margin-top: 105px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  height: 415px;
  width: 471px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 108px 83px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: -389px 637px 0 83px;
}

.u-section-2 .u-line-7 {
  transform-origin: left center 0px;
  margin-top: 239px;
  margin-bottom: 0;
}

.u-section-2 .u-group-4 {
  width: 609px;
  min-height: 164px;
  height: auto;
  margin: 52px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 76px auto 0;
}

.u-section-2 .u-image-2 {
  min-height: 310px;
  background-image: url("images/aac4c0f2-ae8e-c407-3c45-5bd4182b0829.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 316px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-2 .u-text-8 {
  margin: 0 10px;
}

.u-section-2 .u-image-3 {
  min-height: 310px;
  background-image: url("images/76cf559f-7c39-abb6-447e-52aeccc904d7.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 310px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 1140px;
  margin: 162px auto 0;
}

.u-section-2 .u-image-4 {
  min-height: 310px;
  background-image: url("images/3bf3fee9-d063-ea2f-a6cd-80aff751f060.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 316px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-image-5 {
  min-height: 310px;
  background-image: url("images/efs.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 310px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-group-5 {
  width: 609px;
  min-height: 114px;
  height: auto;
  margin: 175px auto 0;
}

.u-section-2 .u-container-layout-14 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-2 .u-text-13 {
  margin: 83px 83px 0;
}

.u-section-2 .u-group-6 {
  width: 609px;
  min-height: 134px;
  height: auto;
  margin: 200px auto 0;
}

.u-section-2 .u-container-layout-15 {
  padding-left: 27px;
  padding-right: 27px;
}

.u-section-2 .u-text-14 {
  font-weight: normal;
  margin: 0;
}

.u-section-2 .u-text-15 {
  margin: 105px 52px 0;
}

.u-section-2 .u-group-7 {
  width: 597px;
  min-height: 427px;
  height: auto;
  margin: 43px auto 0 229px;
}

.u-section-2 .u-container-layout-16 {
  padding: 0;
}

.u-section-2 .u-text-16 {
  margin: 29px 30px 0;
}

.u-section-2 .u-group-8 {
  width: 597px;
  min-height: 428px;
  height: auto;
  margin: -427px 175px 0 auto;
}

.u-section-2 .u-container-layout-17 {
  padding: 23px 30px;
}

.u-section-2 .u-text-17 {
  margin: 0;
}

.u-section-2 .u-line-8 {
  transform-origin: left center 0px;
  position: absolute;
  top: 4397px;
  height: 3px;
}

.u-section-2 .u-line-9 {
  transform-origin: left center 0px;
  position: absolute;
  top: 5637px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 96px auto 0 83px;
  padding: 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 0;
}

.u-section-2 .u-line-10 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-18 {
  font-weight: 400;
  margin: 23px 163px 0 205px;
}

.u-section-2 .u-image-6 {
  width: 130px;
  height: 130px;
  margin: -139px 23px 0 auto;
}

.u-section-2 .u-line-11 {
  transform-origin: left center 0px;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-2 .u-text-19 {
  font-weight: 400;
  text-decoration: underline !important;
  margin: 20px auto 0;
}

.u-section-2 .u-text-20 {
  margin: 30px 52px 0;
}

.u-section-2 .u-image-7 {
  width: 709px;
  height: 454px;
  object-position: 50% 97.93%;
  transition-duration: 0.5s;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 43px auto 0;
}

.u-section-2 .u-text-21 {
  margin: 58px 52px 0;
}

.u-section-2 .u-image-8 {
  width: 624px;
  height: 441px;
  margin: 39px auto 0;
}

.u-section-2 .u-line-12 {
  transform-origin: left center 0px;
  margin-top: 58px;
  margin-bottom: 0;
}

.u-section-2 .u-group-9 {
  width: 438px;
  min-height: 103px;
  height: auto;
  margin: 49px auto 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px;
}

.u-section-2 .u-text-22 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-23 {
  margin: 30px 52px 0;
}

.u-section-2 .u-image-9 {
  width: 793px;
  height: 448px;
  margin: 52px auto 0;
}

.u-section-2 .u-rotation-parent-1 {
  width: 570px;
  height: 221px;
  margin: 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 221px;
  height: 570px;
}

.u-section-2 .u-text-24 {
  width: 205px;
  margin: -130px auto 0;
}

.u-section-2 .u-image-10 {
  width: 674px;
  height: 178px;
  margin: 113px auto 0;
}

.u-section-2 .u-line-13 {
  transform-origin: left center 0px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-group-10 {
  width: 438px;
  min-height: 103px;
  height: auto;
  margin: 40px auto 0;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px;
}

.u-section-2 .u-text-25 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-26 {
  margin: 52px 52px 0;
}

.u-section-2 .u-image-11 {
  width: 954px;
  height: 548px;
  margin: 69px auto 0;
}

.u-section-2 .u-text-27 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-line-14 {
  transform-origin: left center 0px;
  margin-top: 80px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-21 {
  padding: 0;
}

.u-section-2 .u-line-15 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-28 {
  margin: 27px auto 0;
}

.u-section-2 .u-image-12 {
  width: 130px;
  height: 130px;
  margin: -144px 27px 0 auto;
}

.u-section-2 .u-line-16 {
  transform-origin: left center 0px;
  margin-top: 58px;
  margin-bottom: 0;
}

.u-section-2 .u-text-29 {
  font-weight: 400;
  margin: 42px 52px 0;
}

.u-section-2 .u-image-13 {
  width: 623px;
  height: 562px;
  margin: 69px auto 0 85px;
}

.u-section-2 .u-image-14 {
  width: 589px;
  height: 562px;
  margin: -562px 69px 0 auto;
}

.u-section-2 .u-line-17 {
  transform-origin: left center 0px;
  margin-top: 85px;
  margin-bottom: 0;
}

.u-section-2 .u-group-11 {
  width: 489px;
  min-height: 130px;
  margin: 52px auto 0;
}

.u-section-2 .u-container-layout-22 {
  padding: 30px;
}

.u-section-2 .u-text-30 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-31 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-text-32 {
  font-weight: 400;
  margin: 20px 52px 0;
}

.u-section-2 .u-text-33 {
  text-decoration: underline !important;
  font-weight: 700;
  margin: 20px 52px 0;
}

.u-section-2 .u-text-34 {
  margin: 20px 52px 0;
}

.u-section-2 .u-image-15 {
  width: 485px;
  height: 423px;
  margin: 42px auto 0;
}

.u-section-2 .u-text-35 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-text-36 {
  margin: 20px 52px 0;
}

.u-section-2 .u-text-37 {
  font-weight: 400;
  margin: 20px 52px 0;
}

.u-section-2 .u-image-16 {
  width: 694px;
  height: 228px;
  margin: 30px 52px 0;
}

.u-section-2 .u-image-17 {
  width: 694px;
  height: 236px;
  margin: -232px 52px 0 auto;
}

.u-section-2 .u-text-38 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-text-39 {
  font-weight: 700;
  margin: 20px 52px 0;
}

.u-section-2 .u-text-40 {
  font-weight: 400;
  margin: 20px 52px 0;
}

.u-section-2 .u-image-18 {
  width: 441px;
  height: 402px;
  margin: 69px auto 0;
}

.u-section-2 .u-text-41 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-image-19 {
  width: 694px;
  height: 386px;
  margin: 52px auto 0;
}

.u-section-2 .u-text-42 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px 52px 0;
}

.u-section-2 .u-text-43 {
  font-weight: 400;
  margin: 20px 52px 0;
}

.u-section-2 .u-image-20 {
  width: 440px;
  height: 383px;
  margin: 69px auto 0;
}

.u-section-2 .u-text-44 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-image-21 {
  width: 513px;
  height: 379px;
  margin: 85px auto 0;
}

.u-section-2 .u-text-45 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-image-22 {
  width: 1115px;
  height: 527px;
  margin: 42px auto 0;
}

.u-section-2 .u-text-46 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-image-23 {
  width: 424px;
  height: 119px;
  margin: 85px auto 0;
}

.u-section-2 .u-text-47 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-text-48 {
  font-weight: 400;
  margin: 20px 52px 0;
}

.u-section-2 .u-text-49 {
  font-weight: 400;
  margin: 20px 52px 0;
}

.u-section-2 .u-image-24 {
  width: 745px;
  height: 366px;
  margin: 52px auto 0;
}

.u-section-2 .u-text-50 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0 52px;
  padding: 22px 106px 23px;
}

.u-section-2 .u-container-layout-23 {
  padding: 0;
}

.u-section-2 .u-line-18 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-51 {
  font-weight: 400;
  margin: 14px auto 0;
}

.u-section-2 .u-image-25 {
  width: 130px;
  height: 130px;
  margin: -142px 33px 0 auto;
}

.u-section-2 .u-line-19 {
  transform-origin: left center 0px;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-2 .u-text-52 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-image-26 {
  width: 694px;
  height: 369px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-53 {
  font-weight: 400;
  margin: 38px 52px 0;
}

.u-section-2 .u-image-27 {
  width: 694px;
  height: 365px;
  margin: 46px auto 0;
}

.u-section-2 .u-text-54 {
  font-weight: 400;
  margin: 52px 52px 0;
}

.u-section-2 .u-text-55 {
  font-weight: 400;
  margin: 20px 52px 0;
}

.u-section-2 .u-image-28 {
  width: 694px;
  height: 407px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-56 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-text-57 {
  font-weight: 400;
  margin: 20px 52px 0;
}

.u-section-2 .u-image-29 {
  width: 694px;
  height: 344px;
  margin: 52px auto 0 330px;
}

.u-section-2 .u-text-58 {
  font-weight: 400;
  margin: 55px 52px 0;
}

.u-section-2 .u-text-59 {
  font-weight: 400;
  margin: 20px 52px 0;
}

.u-section-2 .u-image-30 {
  width: 656px;
  height: 396px;
  margin: 46px auto 0;
}

.u-section-2 .u-text-60 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-image-31 {
  width: 694px;
  height: 374px;
  margin: 62px auto 0;
}

.u-section-2 .u-text-61 {
  font-weight: 400;
  margin: 30px 52px 0;
}

.u-section-2 .u-text-62 {
  font-weight: 400;
  margin: 20px 52px 0;
}

.u-section-2 .u-line-20 {
  transform-origin: left center 0px;
  margin-top: 72px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-24 {
  padding: 0;
}

.u-section-2 .u-line-21 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-63 {
  font-weight: normal;
  margin: 27px auto 0;
}

.u-section-2 .u-line-22 {
  transform-origin: left center 0px;
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-2 .u-text-64 {
  font-weight: 400;
  margin: 86px 44px 0;
}

.u-section-2 .u-image-32 {
  width: 1093px;
  height: 415px;
  margin: 56px auto 0;
}

.u-section-2 .u-text-65 {
  font-weight: 400;
  margin: -130px 30px 0;
}

.u-section-2 .u-text-66 {
  font-weight: 400;
  margin: 102px 44px 0;
}

.u-section-2 .u-container-layout-25 {
  padding: 0;
}

.u-section-2 .u-line-23 {
  transform-origin: left center 0px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-text-67 {
  margin: 26px auto 0;
}

.u-section-2 .u-line-24 {
  transform-origin: left center 0px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-26 {
  padding: 0;
}

.u-section-2 .u-line-25 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-68 {
  font-weight: 400;
  margin: 16px auto 0;
}

.u-section-2 .u-line-26 {
  transform-origin: left center 0px;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-2 .u-line-27 {
  transform-origin: left center 0px;
  position: absolute;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-group-3 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-6 {
    margin-right: 520px;
    margin-left: 0;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-2 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-2 .u-image-4 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 261px;
  }

  .u-section-2 .u-image-5 {
    min-height: 256px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 256px;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-container-layout-14 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-container-layout-15 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-line-10 {
    margin-top: -26px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 49px;
    margin-right: 63px;
    margin-left: 105px;
  }

  .u-section-2 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-9 {
    height: auto;
  }

  .u-section-2 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-10 {
    height: auto;
  }

  .u-section-2 .u-text-26 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-11 {
    width: 940px;
    height: 540px;
  }

  .u-section-2 .u-text-27 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-15 {
    margin-top: 478px;
  }

  .u-section-2 .u-text-28 {
    margin-top: -451px;
  }

  .u-section-2 .u-image-12 {
    margin-top: 487px;
  }

  .u-section-2 .u-line-16 {
    margin-top: -69px;
  }

  .u-section-2 .u-text-29 {
    margin-top: -444px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-32 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-34 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-35 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-36 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-37 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-16 {
    margin-left: 0;
  }

  .u-section-2 .u-text-38 {
    margin-left: 0;
  }

  .u-section-2 .u-text-39 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-40 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-41 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-42 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-43 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-44 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-45 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-22 {
    width: 940px;
    height: 444px;
  }

  .u-section-2 .u-text-46 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-47 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-48 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-49 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-50 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-line-18 {
    margin-top: 523px;
  }

  .u-section-2 .u-text-51 {
    margin-top: -509px;
  }

  .u-section-2 .u-image-25 {
    margin-top: 589px;
  }

  .u-section-2 .u-line-19 {
    margin-top: -249px;
  }

  .u-section-2 .u-text-52 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-53 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-54 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-55 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-56 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-57 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-29 {
    margin-left: 246px;
  }

  .u-section-2 .u-text-58 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-59 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-60 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-61 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-62 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-64 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-32 {
    width: 940px;
    height: 357px;
  }

  .u-section-2 .u-text-65 {
    margin-top: -72px;
  }

  .u-section-2 .u-text-66 {
    margin-right: 0;
    margin-left: 56px;
  }

  .u-section-2 .u-line-23 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-67 {
    font-weight: normal;
    margin-top: 52px;
  }

  .u-section-2 .u-line-25 {
    margin-top: 53px;
  }

  .u-section-2 .u-text-68 {
    margin-top: -41px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
  }

  .u-section-2 .u-group-3 {
    width: 720px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 300px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    min-height: 392px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    min-height: 392px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-2 .u-image-4 {
    min-height: 392px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    min-height: 392px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-group-7 {
    margin-left: 123px;
  }

  .u-section-2 .u-group-8 {
    margin-right: 123px;
  }

  .u-section-2 .u-line-10 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-18 {
    margin-top: -17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-9 {
    width: 720px;
    height: 407px;
  }

  .u-section-2 .u-image-11 {
    width: 720px;
    height: 414px;
  }

  .u-section-2 .u-line-15 {
    margin-top: 1010px;
  }

  .u-section-2 .u-text-28 {
    margin-top: -983px;
  }

  .u-section-2 .u-image-12 {
    margin-top: 1786px;
  }

  .u-section-2 .u-line-16 {
    margin-top: -836px;
  }

  .u-section-2 .u-text-29 {
    margin-top: -976px;
  }

  .u-section-2 .u-image-16 {
    margin-right: 26px;
  }

  .u-section-2 .u-image-17 {
    margin-right: 26px;
  }

  .u-section-2 .u-text-38 {
    margin-right: 0;
  }

  .u-section-2 .u-image-22 {
    width: 720px;
    height: 340px;
  }

  .u-section-2 .u-image-24 {
    width: 720px;
    height: 354px;
  }

  .u-section-2 .u-line-18 {
    margin-top: 1027px;
  }

  .u-section-2 .u-text-51 {
    margin-top: -1013px;
  }

  .u-section-2 .u-image-25 {
    margin-top: 1597px;
  }

  .u-section-2 .u-line-19 {
    margin-top: -753px;
  }

  .u-section-2 .u-image-29 {
    margin-left: 26px;
  }

  .u-section-2 .u-image-32 {
    width: 720px;
    height: 273px;
  }

  .u-section-2 .u-text-65 {
    margin-top: 12px;
  }

  .u-section-2 .u-line-25 {
    margin-top: 119px;
  }

  .u-section-2 .u-text-68 {
    margin-top: -107px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 69px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 120px;
  }

  .u-section-2 .u-group-4 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    min-height: 588px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 588px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-2 .u-image-4 {
    min-height: 588px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 588px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-5 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-6 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-7 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-group-8 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-10 {
    margin-top: -2px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 25px;
  }

  .u-section-2 .u-image-7 {
    width: 540px;
    height: 346px;
  }

  .u-section-2 .u-image-8 {
    width: 540px;
    height: 382px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    width: 540px;
    height: 305px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 540px;
    height: 179px;
  }

  .u-section-2 .u-shape-1 {
    width: 209px;
    height: 540px;
  }

  .u-section-2 .u-text-24 {
    margin-top: -88px;
  }

  .u-section-2 .u-image-10 {
    width: 540px;
    height: 143px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-11 {
    width: 540px;
    height: 311px;
  }

  .u-section-2 .u-line-15 {
    margin-top: 1497px;
  }

  .u-section-2 .u-text-28 {
    margin-top: -1470px;
  }

  .u-section-2 .u-image-12 {
    margin-top: 3009px;
  }

  .u-section-2 .u-line-16 {
    margin-top: -1544px;
  }

  .u-section-2 .u-text-29 {
    margin-top: -1491px;
  }

  .u-section-2 .u-image-13 {
    width: 540px;
    height: 487px;
    margin-left: 0;
  }

  .u-section-2 .u-image-14 {
    width: 540px;
    height: 515px;
    margin-top: -487px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-16 {
    width: 540px;
    height: 178px;
    margin-right: 0;
  }

  .u-section-2 .u-image-17 {
    width: 540px;
    height: 183px;
    margin-top: -182px;
    margin-right: 0;
  }

  .u-section-2 .u-image-19 {
    width: 540px;
    height: 300px;
  }

  .u-section-2 .u-image-22 {
    width: 540px;
    height: 255px;
  }

  .u-section-2 .u-image-24 {
    width: 540px;
    height: 266px;
  }

  .u-section-2 .u-line-18 {
    margin-top: 1811px;
  }

  .u-section-2 .u-text-51 {
    margin-top: -1797px;
  }

  .u-section-2 .u-image-25 {
    margin-top: 2620px;
  }

  .u-section-2 .u-line-19 {
    margin-top: -964px;
  }

  .u-section-2 .u-image-26 {
    width: 540px;
    height: 287px;
  }

  .u-section-2 .u-image-27 {
    width: 540px;
    height: 284px;
  }

  .u-section-2 .u-image-28 {
    width: 540px;
    height: 317px;
  }

  .u-section-2 .u-image-29 {
    width: 540px;
    height: 268px;
    margin-left: 0;
  }

  .u-section-2 .u-image-30 {
    width: 540px;
    height: 326px;
  }

  .u-section-2 .u-image-31 {
    width: 540px;
    height: 291px;
  }

  .u-section-2 .u-image-32 {
    width: 540px;
    height: 205px;
  }

  .u-section-2 .u-line-23 {
    margin-top: -53px;
  }

  .u-section-2 .u-text-67 {
    margin-top: 80px;
  }

  .u-section-2 .u-line-25 {
    margin-top: 77px;
  }

  .u-section-2 .u-text-68 {
    margin-top: -65px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 300px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -274px;
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    min-height: 370px;
  }

  .u-section-2 .u-image-3 {
    min-height: 370px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-2 .u-image-4 {
    min-height: 370px;
  }

  .u-section-2 .u-image-5 {
    min-height: 370px;
  }

  .u-section-2 .u-group-5 {
    width: 340px;
  }

  .u-section-2 .u-group-6 {
    width: 340px;
  }

  .u-section-2 .u-group-7 {
    width: 340px;
  }

  .u-section-2 .u-group-8 {
    width: 340px;
  }

  .u-section-2 .u-line-10 {
    margin-top: -41px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 64px;
  }

  .u-section-2 .u-image-7 {
    width: 340px;
    height: 218px;
  }

  .u-section-2 .u-image-8 {
    width: 340px;
    height: 241px;
  }

  .u-section-2 .u-group-9 {
    width: 340px;
  }

  .u-section-2 .u-image-9 {
    width: 340px;
    height: 192px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    width: 132px;
    height: 340px;
  }

  .u-section-2 .u-text-24 {
    margin-top: -103px;
  }

  .u-section-2 .u-image-10 {
    width: 340px;
    height: 90px;
    margin-top: 129px;
  }

  .u-section-2 .u-group-10 {
    width: 340px;
  }

  .u-section-2 .u-image-11 {
    width: 340px;
    height: 196px;
  }

  .u-section-2 .u-line-15 {
    margin-top: 2605px;
  }

  .u-section-2 .u-text-28 {
    margin-top: -2578px;
  }

  .u-section-2 .u-image-12 {
    margin-top: 5622px;
  }

  .u-section-2 .u-line-16 {
    margin-top: -3023px;
  }

  .u-section-2 .u-text-29 {
    margin-top: -2625px;
  }

  .u-section-2 .u-image-13 {
    width: 340px;
    height: 307px;
  }

  .u-section-2 .u-image-14 {
    width: 340px;
    height: 324px;
    margin-top: -307px;
  }

  .u-section-2 .u-group-11 {
    width: 340px;
  }

  .u-section-2 .u-image-15 {
    width: 340px;
    height: 296px;
  }

  .u-section-2 .u-image-16 {
    width: 340px;
    height: 112px;
  }

  .u-section-2 .u-image-17 {
    width: 340px;
    height: 115px;
    margin-top: -116px;
  }

  .u-section-2 .u-image-18 {
    width: 340px;
    height: 310px;
  }

  .u-section-2 .u-image-19 {
    width: 340px;
    height: 189px;
  }

  .u-section-2 .u-image-20 {
    width: 340px;
    height: 296px;
  }

  .u-section-2 .u-image-21 {
    width: 340px;
    height: 251px;
  }

  .u-section-2 .u-image-22 {
    width: 340px;
    height: 161px;
  }

  .u-section-2 .u-image-23 {
    width: 340px;
    height: 95px;
  }

  .u-section-2 .u-image-24 {
    width: 340px;
    height: 167px;
  }

  .u-section-2 .u-line-18 {
    margin-top: 3493px;
  }

  .u-section-2 .u-text-51 {
    margin-top: -3479px;
  }

  .u-section-2 .u-image-25 {
    margin-top: 5036px;
  }

  .u-section-2 .u-line-19 {
    margin-top: -1672px;
  }

  .u-section-2 .u-image-26 {
    width: 340px;
    height: 181px;
  }

  .u-section-2 .u-image-27 {
    width: 340px;
    height: 179px;
  }

  .u-section-2 .u-image-28 {
    width: 340px;
    height: 200px;
  }

  .u-section-2 .u-image-29 {
    width: 340px;
    height: 169px;
  }

  .u-section-2 .u-image-30 {
    width: 340px;
    height: 205px;
  }

  .u-section-2 .u-image-31 {
    width: 340px;
    height: 183px;
  }

  .u-section-2 .u-image-32 {
    width: 340px;
    height: 129px;
  }

  .u-section-2 .u-line-23 {
    margin-top: -79px;
  }

  .u-section-2 .u-text-67 {
    margin-top: 106px;
  }

  .u-section-2 .u-line-25 {
    margin-top: 38px;
  }

  .u-section-2 .u-text-68 {
    margin-top: -26px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-7,
.u-section-2 .u-image-7:before,
.u-section-2 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}